body {
  font-family: Arial,sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
}

header nav a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

header nav a {
  text-decoration: underline;
}

main {
  padding: 2rem;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}
#name {
  font-size: 15pt;
  text-align: left;
}